# Librerias pertinentes para la recoleccion de datos

In [1]:
import yfinance
# Libreria para el desahabilitacion de advertencias despues del debug cell
import warnings 
warnings.filterwarnings("ignore")

In [2]:
raw_data=yfinance.download(tickers='^FTSE ^GDAXI ^GSPC ^N225',start='1994-01-07',end='2023-01-12',group_by='ticker',interval='1d',auto_adjust=True)

[*********************100%%**********************]  4 of 4 completed

## Funcion Download
* <b> Download </b>: Funcion que permite extraer los datos de yahoo finance
* <b> Tickers </b>: Nombre o id de los activos financieros
* <b> Start </b>: Inicio de tiempo de recoleccion de datos
* <b> End </b>: Fin de tiempo de recoleccion de datos
* <b> Groupby </b>: Funcion que permite agrupar mediante un indice como tickers
* <b> Interval </b>:Distancia de tiempo entre 2 observaciones de datos,se extraera datos de tiempo segun su frecuencia como 1d-un dia

In [3]:
# Copia de datos a otra variable para remover o alterar datos o indices
df_comp = raw_data.copy()

In [4]:
# Adding new columns to the data set
df_comp['spx'] = df_comp['^GSPC'].Close
df_comp['dax'] = df_comp['^GDAXI'].Close
df_comp['ftse'] = df_comp['^FTSE'].Close
df_comp['nikkei'] = df_comp['^N225'].Close

In [5]:
#Se eliminan los datos de las indices de la primera fila
#por motivos de cierre de bolsa en otras zonas horarias
df_comp=df_comp.iloc[1:]
#Se eliminan los datos de los tickers originales por remover datos redudantes
f=['^FTSE','^GDAXI','^GSPC','^N225']
for a in f:
    del df_comp[a]
df_comp=df_comp.asfreq('b') # Corregir frecuencia de datos como b-Bimestral
# Imputacion de datos sobre variables con datos nulos
df_comp.fillna(method='ffill',inplace=True)

In [6]:
print (df_comp.head()) #Muestra los datos de las primeras columnas para verificar la correcta extracion de datos
print (df_comp.tail()) #Autotenticacion de datos al mostrar los ultimas filas de los mismo para asegurar de que la serie esta correctamente extraida hasta el ultimo dia de negociacion

                   spx          dax         ftse        nikkei

Date
1994-01-10  475.269989  2225.000000  3440.600098  18443.439453
1994-01-11  474.130005  2228.100098  3413.800049  18485.250000
1994-01-12  474.170013  2182.060059  3372.000000  18793.880859
1994-01-13  472.470001  2142.370117  3360.000000  18577.259766
1994-01-14  474.910004  2151.050049  3400.600098  18973.699219
                    spx           dax         ftse        nikkei

Date
2023-01-05  3808.100098  14436.309570  7633.500000  25820.800781
2023-01-06  3895.080078  14610.019531  7699.500000  25973.849609
2023-01-09  3892.090088  14792.830078  7724.899902  25973.849609
2023-01-10  3919.250000  14774.599609  7694.500000  26175.560547
2023-01-11  3969.610107  14947.910156  7725.000000  26446.000000

In [14]:
new_data=yfinance.download(tickers='^GSPC ^FTSE ^GDAXI ^N225',start='2018-01-29',end='2023-10-11',group_by='ticker',auto_adjust=True,interval='1d')
new_data.round(2)

[*********************100%%**********************]  4 of 4 completed

             ^FTSE                                           ^N225            \
              Open    High     Low   Close        Volume      Open      High
Date
2018-01-29  7665.5  7689.2  7663.9  7671.5  6.129240e+08  23707.14  23787.23
2018-01-30  7671.5  7671.7  7587.1  7588.0  7.989990e+08  23559.33  23581.98
2018-01-31  7588.0  7599.0  7521.8  7533.6  8.807517e+08  23205.23  23375.38
2018-02-01  7533.6  7554.7  7476.5  7490.4  8.725091e+08  23276.10  23492.77
2018-02-02  7490.4  7494.8  7432.3  7443.4  8.715740e+08  23361.67  23367.96
...            ...     ...     ...     ...           ...       ...       ...
2023-10-04  7470.2  7490.2  7384.2  7412.5  1.085407e+09  30765.03  30830.85
2023-10-05  7412.5  7488.6  7409.7  7451.5  6.154571e+08  30733.65  31083.90
2023-10-06  7451.5  7496.4  7423.4  7494.6  6.131954e+08  31003.95  31160.45
2023-10-09  7494.6  7540.6  7473.2  7492.2  7.386970e+08       NaN       NaN
2023-10-10  7492.2  7637.4  7492.2  7628.2  7.196538e+08  31314.67  31818.26

                                               ^GDAXI                      \
                 Low     Close       Volume      Open      High       Low
Date
2018-01-29  23580.17  23629.34   68800000.0  13358.90  13370.02  13274.84
2018-01-30  23233.37  23291.97   88800000.0  13223.97  13309.86  13171.91
2018-01-31  23092.85  23098.29   99800000.0  13210.76  13268.41  13159.35
2018-02-01  23211.12  23486.11  101800000.0  13235.15  13301.41  12971.78
2018-02-02  23122.45  23274.53   98600000.0  12954.59  12954.59  12782.07
...              ...       ...          ...       ...       ...       ...
2023-10-04  30487.67  30526.88  137200000.0  14979.81  15174.63  14948.08
2023-10-05  30565.32  31075.36  114200000.0  15113.94  15157.70  15048.42
2023-10-06  30928.16  30994.67   94600000.0  15109.16  15230.89  15033.55
2023-10-09       NaN       NaN          NaN  15143.29  15201.06  15077.66
2023-10-10  31314.67  31746.53  101000000.0  15272.57  15443.45  15272.57

                                     ^GSPC                             \
               Close       Volume     Open     High      Low    Close
Date
2018-01-29  13324.48   78822500.0  2867.23  2870.62  2851.48  2853.53
2018-01-30  13197.71  115152700.0  2832.74  2837.75  2818.27  2822.43
2018-01-31  13189.48  111852500.0  2832.41  2839.26  2813.04  2823.81
2018-02-01  13003.90  122880100.0  2816.45  2835.96  2812.70  2821.98
2018-02-02  12785.16  140869300.0  2808.92  2808.92  2759.97  2762.13
...              ...          ...      ...      ...      ...      ...
2023-10-04  15099.92   75006400.0  4233.83  4268.50  4220.48  4263.75
2023-10-05  15070.22   47650800.0  4259.31  4267.13  4225.91  4258.19
2023-10-06  15229.77   65528500.0  4234.79  4324.10  4219.55  4308.50
2023-10-09  15128.11   52471000.0  4289.02  4341.73  4283.79  4335.66
2023-10-10  15423.52   62641300.0  4339.75  4385.46  4339.64  4358.24


                  Volume
Date
2018-01-29  3.587420e+09
2018-01-30  4.012070e+09
2018-01-31  4.276270e+09
2018-02-01  3.977380e+09
2018-02-02  4.340220e+09
...                  ...
2023-10-04  3.777600e+09
2023-10-05  3.581470e+09
2023-10-06  3.902030e+09
2023-10-09  3.174630e+09
2023-10-10  3.520240e+09

[1484 rows x 20 columns]

In [15]:
df_copy = new_data.copy()
df_copy['spx'] = df_copy['^GSPC'].Close
df_copy['dax'] = df_copy['^GDAXI'].Close
df_copy['ftse'] = df_copy['^FTSE'].Close
df_copy['nikkei'] = df_copy['^N225'].Close

In [16]:
#Se eliminan los datos de las indices de la primera fila
#por motivos de cierre de bolsa en otras zonas horarias
df_copy=df_copy.iloc[1:]
#Se eliminan los datos de los tickers originales por remover datos redudantes
f=['^FTSE','^GDAXI','^GSPC','^N225']
for a in f:
    del df_copy[a]
df_comp=df_copy.asfreq('b') # Corregir frecuencia de datos como b-Bimestral
# Imputacion de datos sobre variables con datos nulos
df_copy.fillna(method='ffill',inplace=True)

In [17]:
df_copy.to_csv('Index_2018_new.csv')