# Librerias pertinentes para la recoleccion de datos

In [12]:
import yfinance
# Libreria para el desahabilitacion de advertencias despues del debug cell
import warnings 
warnings.filterwarnings("ignore")
import pandas as pd

In [3]:
raw_data=yfinance.download(tickers='^FTSE ^GDAXI ^GSPC ^N225',start='1994-01-07',end='2023-01-12',group_by='ticker',interval='1d',auto_adjust=True)

[*********************100%%**********************]  4 of 4 completed

## Funcion Download
* <b> Download </b>: Funcion que permite extraer los datos de yahoo finance
* <b> Tickers </b>: Nombre o id de los activos financieros
* <b> Start </b>: Inicio de tiempo de recoleccion de datos
* <b> End </b>: Fin de tiempo de recoleccion de datos
* <b> Groupby </b>: Funcion que permite agrupar mediante un indice como tickers
* <b> Interval </b>:Distancia de tiempo entre 2 observaciones de datos,se extraera datos de tiempo segun su frecuencia como 1d-un dia

In [4]:
# Copia de datos a otra variable para remover o alterar datos o indices
df_comp = raw_data.copy()

In [5]:
# Adding new columns to the data set
df_comp['spx'] = df_comp['^GSPC'].Close
df_comp['dax'] = df_comp['^GDAXI'].Close
df_comp['ftse'] = df_comp['^FTSE'].Close
df_comp['nikkei'] = df_comp['^N225'].Close

In [6]:
#Se eliminan los datos de las indices de la primera fila
#por motivos de cierre de bolsa en otras zonas horarias
df_comp=df_comp.iloc[1:]
#Se eliminan los datos de los tickers originales por remover datos redudantes
f=['^FTSE','^GDAXI','^GSPC','^N225']
for a in f:
    del df_comp[a]
df_comp=df_comp.asfreq('b') # Corregir frecuencia de datos como b-Bimestral
# Imputacion de datos sobre variables con datos nulos
df_comp.fillna(method='ffill',inplace=True)

In [7]:
print (df_comp.head()) #Muestra los datos de las primeras columnas para verificar la correcta extracion de datos
print (df_comp.tail()) #Autotenticacion de datos al mostrar los ultimas filas de los mismo para asegurar de que la serie esta correctamente extraida hasta el ultimo dia de negociacion

                   spx          dax         ftse        nikkei

Date
1994-01-10  475.269989  2225.000000  3440.600098  18443.439453
1994-01-11  474.130005  2228.100098  3413.800049  18485.250000
1994-01-12  474.170013  2182.060059  3372.000000  18793.880859
1994-01-13  472.470001  2142.370117  3360.000000  18577.259766
1994-01-14  474.910004  2151.050049  3400.600098  18973.699219
                    spx           dax         ftse        nikkei

Date
2023-01-05  3808.100098  14436.309570  7633.500000  25820.800781
2023-01-06  3895.080078  14610.019531  7699.500000  25973.849609
2023-01-09  3892.090088  14792.830078  7724.899902  25973.849609
2023-01-10  3919.250000  14774.599609  7694.500000  26175.560547
2023-01-11  3969.610107  14947.910156  7725.000000  26446.000000

In [8]:
new_data=yfinance.download(tickers='^GSPC ^FTSE ^GDAXI ^N225',start='2018-01-29',end='2023-10-11',group_by='ticker',auto_adjust=True,interval='1d')
new_data.round(2)

[*********************100%%**********************]  4 of 4 completed

               ^N225                                               ^GSPC  \
                Open      High       Low     Close       Volume     Open
Date
2018-01-29  23707.14  23787.23  23580.17  23629.34   68800000.0  2867.23
2018-01-30  23559.33  23581.98  23233.37  23291.97   88800000.0  2832.74
2018-01-31  23205.23  23375.38  23092.85  23098.29   99800000.0  2832.41
2018-02-01  23276.10  23492.77  23211.12  23486.11  101800000.0  2816.45
2018-02-02  23361.67  23367.96  23122.45  23274.53   98600000.0  2808.92
...              ...       ...       ...       ...          ...      ...
2023-10-04  30765.03  30830.85  30487.67  30526.88  137200000.0  4233.83
2023-10-05  30733.65  31083.90  30565.32  31075.36  114200000.0  4259.31
2023-10-06  31003.95  31160.45  30928.16  30994.67   94600000.0  4234.79
2023-10-09       NaN       NaN       NaN       NaN          NaN  4289.02
2023-10-10  31314.67  31818.26  31314.67  31746.53  101000000.0  4339.75

                                                       ^GDAXI            \
               High      Low    Close        Volume      Open      High
Date
2018-01-29  2870.62  2851.48  2853.53  3.587420e+09  13358.90  13370.02
2018-01-30  2837.75  2818.27  2822.43  4.012070e+09  13223.97  13309.86
2018-01-31  2839.26  2813.04  2823.81  4.276270e+09  13210.76  13268.41
2018-02-01  2835.96  2812.70  2821.98  3.977380e+09  13235.15  13301.41
2018-02-02  2808.92  2759.97  2762.13  4.340220e+09  12954.59  12954.59
...             ...      ...      ...           ...       ...       ...
2023-10-04  4268.50  4220.48  4263.75  3.777600e+09  14979.81  15174.63
2023-10-05  4267.13  4225.91  4258.19  3.581470e+09  15113.94  15157.70
2023-10-06  4324.10  4219.55  4308.50  3.902030e+09  15109.16  15230.89
2023-10-09  4341.73  4283.79  4335.66  3.174630e+09  15143.29  15201.06
2023-10-10  4385.46  4339.64  4358.24  3.520240e+09  15272.57  15443.45

                                              ^FTSE                          \
                 Low     Close       Volume    Open    High     Low   Close
Date
2018-01-29  13274.84  13324.48   78822500.0  7665.5  7689.2  7663.9  7671.5
2018-01-30  13171.91  13197.71  115152700.0  7671.5  7671.7  7587.1  7588.0
2018-01-31  13159.35  13189.48  111852500.0  7588.0  7599.0  7521.8  7533.6
2018-02-01  12971.78  13003.90  122880100.0  7533.6  7554.7  7476.5  7490.4
2018-02-02  12782.07  12785.16  140869300.0  7490.4  7494.8  7432.3  7443.4
...              ...       ...          ...     ...     ...     ...     ...
2023-10-04  14948.08  15099.92   75006400.0  7470.2  7490.2  7384.2  7412.5
2023-10-05  15048.42  15070.22   47650800.0  7412.5  7488.6  7409.7  7451.5
2023-10-06  15033.55  15229.77   65528500.0  7451.5  7496.4  7423.4  7494.6
2023-10-09  15077.66  15128.11   52471000.0  7494.6  7540.6  7473.2  7492.2
2023-10-10  15272.57  15423.52   62641300.0  7492.2  7637.4  7492.2  7628.2


                  Volume
Date
2018-01-29  6.129240e+08
2018-01-30  7.989990e+08
2018-01-31  8.807517e+08
2018-02-01  8.725091e+08
2018-02-02  8.715740e+08
...                  ...
2023-10-04  1.085407e+09
2023-10-05  6.154571e+08
2023-10-06  6.131954e+08
2023-10-09  7.386970e+08
2023-10-10  7.196538e+08

[1484 rows x 20 columns]

In [9]:
df_copy = new_data.copy()
df_copy['spx'] = df_copy['^GSPC'].Close
df_copy['dax'] = df_copy['^GDAXI'].Close
df_copy['ftse'] = df_copy['^FTSE'].Close
df_copy['nikkei'] = df_copy['^N225'].Close

In [10]:
#Se eliminan los datos de las indices de la primera fila
#por motivos de cierre de bolsa en otras zonas horarias
df_copy=df_copy.iloc[1:]
#Se eliminan los datos de los tickers originales por remover datos redudantes
f=['^FTSE','^GDAXI','^GSPC','^N225']
for a in f:
    del df_copy[a]
df_comp=df_copy.asfreq('b') # Corregir frecuencia de datos como b-Bimestral
# Imputacion de datos sobre variables con datos nulos
df_copy.fillna(method='ffill',inplace=True)

In [11]:
df_copy.to_csv('Index_2018_new.csv')

In [16]:
df_copy

                    spx           dax         ftse        nikkei

Date
2018-01-30  2822.429932  13197.709961  7588.000000  23291.970703
2018-01-31  2823.810059  13189.480469  7533.600098  23098.289062
2018-02-01  2821.979980  13003.900391  7490.399902  23486.109375
2018-02-02  2762.129883  12785.160156  7443.399902  23274.529297
2018-02-05  2648.939941  12687.490234  7335.000000  22682.080078
...                 ...           ...          ...           ...
2023-10-04  4263.750000  15099.919922  7412.500000  30526.880859
2023-10-05  4258.189941  15070.219727  7451.500000  31075.359375
2023-10-06  4308.500000  15229.769531  7494.600098  30994.669922
2023-10-09  4335.660156  15128.110352  7492.200195  30994.669922
2023-10-10  4358.240234  15423.519531  7628.200195  31746.529297

[1483 rows x 4 columns]

In [22]:
# Lee los dos archivos CSV en DataFrames separados
df1 = pd.read_csv('Index2018.csv')
df2 = pd.read_csv('Index_2018_new.csv')

# Fusiona los DataFrames en uno solo
Index_united= pd.concat([df1, df2], ignore_index=True)

# Ahora `merged_df` contiene la fusión de los dos archivos CSV
Index_united

,date,spx,dax,ftse,nikkei,Unnamed: 0
0,07/01/1994,469.900000,2224.950000,3445.980000,18124.010000,NaN
1,10/01/1994,475.270000,2225.000000,3440.580000,18443.440000,NaN
2,11/01/1994,474.130000,2228.100000,3413.770000,18485.250000,NaN
3,12/01/1994,474.170000,2182.060000,3372.020000,18793.880000,NaN
4,13/01/1994,472.470000,2142.370000,3360.010000,18577.260000,NaN
...,...,...,...,...,...,...
7749,NaN,4263.750000,15099.919922,7412.500000,30526.880859,2023-10-04
7750,NaN,4258.189941,15070.219727,7451.500000,31075.359375,2023-10-05
7751,NaN,4308.500000,15229.769531,7494.600098,30994.669922,2023-10-06
7752,NaN,4335.660156,15128.110352,7492.200195,30994.669922,2023-10-09
7753,NaN,4358.240234,15423.519531,7628.200195,31746.529297,2023-10-10

In [25]:
df2=df2.iloc[1:]

      Unnamed: 0          spx           dax         ftse        nikkei
2     2018-01-30  2822.429932  13197.709961  7588.000000  23291.970703
3     2018-01-31  2823.810059  13189.480469  7533.600098  23098.289062
4     2018-02-01  2821.979980  13003.900391  7490.399902  23486.109375
5     2018-02-02  2762.129883  12785.160156  7443.399902  23274.529297
6     2018-02-05  2648.939941  12687.490234  7335.000000  22682.080078
...          ...          ...           ...          ...           ...
1480  2023-10-04  4263.750000  15099.919922  7412.500000  30526.880859
1481  2023-10-05  4258.189941  15070.219727  7451.500000  31075.359375
1482  2023-10-06  4308.500000  15229.769531  7494.600098  30994.669922
1483  2023-10-09  4335.660156  15128.110352  7492.200195  30994.669922
1484  2023-10-10  4358.240234  15423.519531  7628.200195  31746.529297

[1483 rows x 5 columns]

In [28]:
df1

            date          spx       dax         ftse    nikkei
0     07/01/1994   469.900000   2224.95  3445.980000  18124.01
1     10/01/1994   475.270000   2225.00  3440.580000  18443.44
2     11/01/1994   474.130000   2228.10  3413.770000  18485.25
3     12/01/1994   474.170000   2182.06  3372.020000  18793.88
4     13/01/1994   472.470000   2142.37  3360.010000  18577.26
...          ...          ...       ...          ...       ...
6264  23/01/2018  2839.130362  13559.60  7731.827774  24124.15
6265  24/01/2018  2837.544008  13414.74  7643.428966  23940.78
6266  25/01/2018  2839.253031  13298.36  7615.839954  23669.49
6267  26/01/2018  2872.867839  13340.17  7665.541292  23631.88
6268  29/01/2018  2853.528411  13324.48  7671.533300  23629.34

[6269 rows x 5 columns]

In [29]:
df2.rename(columns={'Unnamed: 0':'date'},inplace=True)

In [30]:
df1,df2

(            date          spx       dax         ftse    nikkei
 0     07/01/1994   469.900000   2224.95  3445.980000  18124.01
 1     10/01/1994   475.270000   2225.00  3440.580000  18443.44
 2     11/01/1994   474.130000   2228.10  3413.770000  18485.25
 3     12/01/1994   474.170000   2182.06  3372.020000  18793.88
 4     13/01/1994   472.470000   2142.37  3360.010000  18577.26
 ...          ...          ...       ...          ...       ...
 6264  23/01/2018  2839.130362  13559.60  7731.827774  24124.15
 6265  24/01/2018  2837.544008  13414.74  7643.428966  23940.78
 6266  25/01/2018  2839.253031  13298.36  7615.839954  23669.49
 6267  26/01/2018  2872.867839  13340.17  7665.541292  23631.88
 6268  29/01/2018  2853.528411  13324.48  7671.533300  23629.34

 [6269 rows x 5 columns],
             date          spx           dax         ftse        nikkei
 2     2018-01-30  2822.429932  13197.709961  7588.000000  23291.970703
 3     2018-01-31  2823.810059  13189.480469  7533.600098  23098.289062
 4     2018-02-01  2821.979980  13003.900391  7490.399902  23486.109375
 5     2018-02-02  2762.129883  12785.160156  7443.399902  23274.529297
 6     2018-02-05  2648.939941  12687.490234  7335.000000  22682.080078
 ...          ...          ...           ...          ...           ...
 1480  2023-10-04  4263.750000  15099.919922  7412.500000  30526.880859
 1481  2023-10-05  4258.189941  15070.219727  7451.500000  31075.359375
 1482  2023-10-06  4308.500000  15229.769531  7494.600098  30994.669922
 1483  2023-10-09  4335.660156  15128.110352  7492.200195  30994.669922
 1484  2023-10-10  4358.240234  15423.519531  7628.200195  31746.529297

 [1483 rows x 5 columns])

In [36]:
Index_united=pd.concat([df1,df2],axis=0,ignore_index=True)
Index_united

            date          spx           dax         ftse        nikkei
0     07/01/1994   469.900000   2224.950000  3445.980000  18124.010000
1     10/01/1994   475.270000   2225.000000  3440.580000  18443.440000
2     11/01/1994   474.130000   2228.100000  3413.770000  18485.250000
3     12/01/1994   474.170000   2182.060000  3372.020000  18793.880000
4     13/01/1994   472.470000   2142.370000  3360.010000  18577.260000
...          ...          ...           ...          ...           ...
7747  2023-10-04  4263.750000  15099.919922  7412.500000  30526.880859
7748  2023-10-05  4258.189941  15070.219727  7451.500000  31075.359375
7749  2023-10-06  4308.500000  15229.769531  7494.600098  30994.669922
7750  2023-10-09  4335.660156  15128.110352  7492.200195  30994.669922
7751  2023-10-10  4358.240234  15423.519531  7628.200195  31746.529297

[7752 rows x 5 columns]

In [ ]:
Index_united.to_csv('Index_united.csv')